html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

#page_title, h2 {
  color: #222222;
  font: 1.5em "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;

}

.indiv_post {
  color: #222222;
  font: 1.1em "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-align: center;

}

.error {
  font: 1em "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #9e3030;
  font-weight: 400;

}

form {
  padding: 2em;
  margin: 0 auto;
  width: 60%;
  font: 1em "Helvetica Neue", sans-serif;
  font-weight: 200;
}

label {
  width: 100%;
  margin: 1em;
}

input[type=text] {
  margin: 1em;
  width: 100%;

}

textarea {
  width: 100%;
  margin: 1em;
}

input[type=password] {
  margin: 1em;
  width: 100%;

}

input[type=submit] {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 20%;
}

nav {
  text-align: right;
  color: #444444;
  font: 0.8em "Helvetica Neue", sans-serif;
  background-color: #FFFFFF;
  width: auto;
  height: 1.5em;
  padding: 0em 1em 1em 0.5em;
  box-shadow: 0em 10em 5em;
}

nav ul > li {
  text-decoration: none;
  display: inline-block;
  line-height: 2.5;
}

#current_user {
  font-weight: bold;
}

.splash {
  background-image: url('/static/img/splash_bg.jpg');
  background-color: #0b9f43;
  width: auto;
  height: 12em;
  text-align: center;
  padding-top: 3em;
  box-shadow: 0em 0.25em 1em #999999;
}

h1 {
  margin-top: 0;
  font: 4em 'Indie Flower', cursive;
  color: #FFFFFF;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #0b9f43;
  padding: 0.5em;
  width: 15%;
  height: 1.25em;
  margin-top: 0.25em;

  line-height: 5em;
  font: 1em "Helvetica Neue", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-radius: 1em / 1em;
}

.user-flex-item {
  padding: 0.5em;
  width: 30%;
  height: 1.25em;
  font: 1em "Helvetica Neue", sans-serif;
  color: #000000;
  text-align: center;

}

.flex-item a:visited {
  color: #FFFFFF;
}

a, .flex-item a {
  text-decoration: none;
}

a:visited {
  color: #333333;
}

a:hover, .flex-item a:hover {
  color: #79d74d;
}

p {
  font: 0.9em "Helvetica Neue", sans-serif;
  margin: 0.5em 2.5em 0.5em 2em;
}

.tagline {
  font: 0.75em "Helvetica Neue", sans-serif;
  margin-left: 2.5em;

}

#login-page {
  text-align: center;
}

hr {
  width: 95%;
}
