<!doctype html>
<html>
    <head>
      <!-- The first link is to my stylesheet; the second is to the Indie Flower font -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <title>{{title}}</title>
    </head>
<body>
  <header>
    <!-- This block will contain only navigation for all pages -->
    <!-- I've made it a snippet to make the base a little neater -->
    {% block navigation %}
    {% endblock %}
  </header>
  <main>
    <!-- This could probably be partialed out like the nav -->
    <div class="splash">
      <h1>Blogz</h1>
      <ul class="flex-container">
        <li class="flex-item"><a href="/">All Users</a></li>
        <li class="flex-item"><a href="newpost">New Post</a></li>
        <li class="flex-item"><a href="blog">All Posts</a></li>
      </ul>
    </div>
    <!-- Primary block content goes here -->

    {% block content %}
    {% endblock %}

    <!-- Error messages and success messages load here -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      <ul>
        {% for category,message in messages %}
        <li class='{{ category }}'>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endwith %}
    </main>


</body>
</html>
